<div class="col-md-12">
  <% if @recommendation.present? %>
    <h2>Recommended Restaurant: <%= @recommendation.name %></h2>
    <% if !@recommendation.average_rating.nil? %>
      <h3>Average Rating: <%= @recommendation.average_rating %></h3>
    <% end %>
    <% if !@review.blank? %>
      <h3>Looks like you've already written a review! Would you like to update it?<h3>
      <td><%= link_to('Update Review', restaurant_path(@recommendation), class: "btn btn-success") %></td>
    <% else %>
      <h3>Would you like to write a review for this restaurant?</h3>
      <td><%= link_to('Add Review', restaurant_path(@recommendation), class: "btn btn-success") %></td>
    <% end %>
  <% else %>
    <h3>No recommendations for you at the moment...</h3>
    <%= link_to('Add Restaurant', new_restaurant_path, class: "btn btn-success") %>
  <% end %>
  <hr>
</div>
<% if @recommendation.present? %>
  <%= render partial: 'restaurants/reviews_table', locals: { restaurant: @recommendation }%>
<% end %>
